<meta charset="UTF-8">
<title><%= title %></title>
<link rel="shortcut icon" type="image/ico" href="/images/favicon-20170913104211493.ico"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<link rel="stylesheet" href="http://127.0.0.1:3000/dist/main.3a51df426e16da676ed2.css">
